
body {
  background: #5da0e3;

}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

table{
  width: 100%;
}

th{
  background: #b1e37f;     
}

.odd td{
  background: white;
}

.even td{
  background: #e5e5e5;
}

#new_book{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#post_comment{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#search_for_book{

}


