
body {
  background: #fff;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

table{
  width: 100%;
}

th{
  background: #8ac4ff;     
}

.odd td{
  background: white;
}

.even td{
  background: #e5e5e5;
}
