<h1>Delete Product</h1>

<% form_for @book, :html => { :method => :delete } do |f| %>
  <h2>Are you sure you want to delete this book?</h2>
  <p>
  <%= submit_tag "Delete" %>
  or <%= link_to "Delete", books_path %>
  </p>
<% end %>

              
